name: Front Microservice CI/CD

on:
  push:
    branches:
      - "*"

jobs:
  # sonarqube_front:
  #   if: always()
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #       with:
  #         projectBaseDir: Front
  #         fetch-depth: 0
  #     - name: SonarQube Scan
  #       uses: sonarsource/sonarqube-scan-action@master
  #       env:
  #         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  #         SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  unit_test_front:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create env file
        run: cp env-example .env
        working-directory: ${{ github.workspace }}

      - name: Start Docker Compose
        run: docker-compose run --rm frontend npm run test
        working-directory: ${{ github.workspace }}

  push_front_to_registry:
    needs: unit_test_front
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get branch names
        id: branch-name
        uses: tj-actions/branch-names@v7

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Front/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}/${{ steps.branch-name.outputs.current_branch }}_front:latest
